#
# video tools download list file
#
# this file is download list for video tools
#
# use url or bilibili av id for download, # starts comment
#

# 某科学的超电磁炮
#ep84340 # 某科学的超电磁炮-第一季
#ep71958 # 某科学的超电磁炮S-第二季
#ep7987 # 某科学的超电磁炮-第一季OVA

av810872 # 【炮姐/AMV】我永远都会守护在你的身边！

#ep32374 # 罗小黑战记

#ep232465 # 工作细胞

#ep250685 # 邻家索菲
